@{
    ViewData["Title"] = "Página de Sobre";
}

<main class="content-sobre">
    <section class="section-somos">
        <div>
            <h2>Quem somos</h2>
            <p>A Clean Oceanic é uma empresa dedicada à limpeza dos oceanos e praias.</p>
            <p>
                Nossa missão é preservar e proteger os ecossistemas marinhos, removendo resíduos e promovendo a
                conscientização sobre a importância da sustentabilidade.
            </p>
        </div>
        <div>
            <h2>O que fazemos</h2>
            <p>
                Contamos com uma equipe de pessoas comprometidas e capacitadas, prontas para ir aos oceanos e praias
                para
                realizar a limpeza.
            </p>
            <p>
                Utilizamos técnicas e equipamentos especializados para coletar e descartar corretamente os resíduos
                encontrados.
            </p>
        </div>
        <div>
            <h2>Nossa visão</h2>
            <p>
                Buscamos um futuro em que os oceanos estejam livres de poluição e sejam um ambiente saudável para
                todas
                as formas de vida.
            </p>
            <p>
                Acreditamos que a educação ambiental e a participação da comunidade são fundamentais para alcançar
                esse
                objetivo.
            </p>
        </div>
    </section>
    <div class="content-team-members">
        <div class="container-members">
            <div>
                <h2 class="container-title">Membros da Equipe</h2>
            </div>
            <div class="container-team-members">
                <div class="container-member">
                    <div>
                        <img src="~/img/integrantes/kaiquesantos.png" alt="Imagem do membro" class="container-member-img">
                    </div>
                    <div class="container-member-info">
                        <h4>Kaique Santos</h4>
                    </div>
                </div>
                <div class="container-member">
                    <div>
                        <img src="~/img/integrantes/marceloamellopaixao.png" alt="Imagem do membro" class="container-member-img">
                    </div>
                    <div class="container-member-info">
                        <h4>Marcelo Augusto</h4>
                    </div>
                </div>
                <div class="container-member">
                    <div>
                        <img src="~/img/integrantes/mariaoliveira.jfif" alt="Imagem do membro" class="container-member-img">
                    </div>
                    <div class="container-member-info">
                        <h4>Maria Oliveira</h4>
                    </div>
                </div>
                <div class="container-member">
                    <div>
                        <img src="~/img/integrantes/michaelbernardi.jpg" alt="Imagem do membro" class="container-member-img">
                    </div>
                    <div class="container-member-info">
                        <h4>Michael Bernardi</h4>
                    </div>
                </div>
                <div class="container-member">
                    <div>
                        <img src="~/img/integrantes/rodrigobatista.png" alt="Imagem do membro" class="container-member-img">
                    </div>
                    <div class="container-member-info">
                        <h4>Rodrigo Batista</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
