<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/79a96797-8a32-4a78-bfa1-50ca791bf71c/resourcegroups/RgCleanOceanic/providers/Microsoft.ContainerRegistry/registries/CleanOceanicRM99466</ResourceId>
    <ResourceName>CleanOceanicRM99466</ResourceName>
    <ResourceGroup>RgCleanOceanic</ResourceGroup>
    <Subscription>Marcelo Augusto - RM99466</Subscription>
    <RegistryUrl>https://cleanoceanicrm99466.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>df89af77-7635-43aa-bd10-808762908e21</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>